<div class="navbar top-bar">
	<ul class="menu">
		<li class="is-active first"><a href="#products">Products</a></li>
		<li class="second"><a href="#random-product">Random Product</a></li>
		<li class="third"><a href="#about">About</a></li>
	</ul>
</div>
