<div class="navbar top-bar">
	<ul class="menu">
		<li class="is-active"><a href="products">Products</a></li>
		<li><a href="random-product">Random Product</a></li>
		<li><a href="about">About</a></li>
	</ul>
</div>
