<div class="image" style="background-image: url('{{img}}')">
	<img class="img" src="{{img}}">
</div>

{{!-- <div class="image"
    style="background-image: url('https://images.unsplash.com/photo-1598440947619-2c35fc9aa908?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8')">
    <div></div>
</div> --}}