<navigation id="menu"></navigation>
    <div>
        <table class="hover table" id="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product info</th>
                    <th>Price</th>
                </tr>
            </thead>
      </table>
    </div>
    <div id="randomProduct"></div>