<navigation id="menu"></navigation>
    <div id="table">
            <div class="grid-x grid-padding-y grid-padding-x">
                <div class="cell small-4">
                    <h5>Image</h5>
                </div>
                <div class="cell small-6">
                    <h5>Product info</h5>
                </div>
                <div class="cell small-2">
                    <h5>Price</h5>
                </div>
            </div>
            <div id="tableBody"></div>
    </div>
<div id="randomProduct"></div>