.wrap {
    width: 400px;
    overflow: hidden;
}

.basket {
    width:24px;
    height:24px;
}

.image {
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: zoom-in;
  height: 100%;
}

.img {
  margin: auto;
  display: block;
  width: 400px;
  height: 400px;
  }

.img:hover {
    opacity: 0;
  }
